{% extends 'DevtureNagiosBundle/layout.html.twig' %}

{% block devture_nagios_content %}
	<div class="clearfix">
		<a class="btn pull-right" href="{{ path('devture_nagios.host.add') }}">
			<i class="icon-plus"></i>
			Add new
		</a>
	</div>

	<div class="top-spaced-minor"></div>

	{% include 'DevtureNagiosBundle/host/list.html.twig' with {'items': items} %}
{% endblock %}