{% extends '@DevtureNagios/nagios_layout.html.twig' %}

{% block devture_nagios_content %}
	{% if is_granted('ROLE_CONFIGURATION_MANAGEMENT') %}
		<div class="clearfix">
			<a class="btn btn-secondary float-end" href="{{ path('devture_nagios.contact.add') }}">
				<i class="fa-solid fa-plus"></i>
				Add new
			</a>
		</div>

		<div class="top-spaced-minor"></div>
	{% endif %}

	<div ng-app-lazy="nagadminApp">
		{% include '@DevtureNagios/contact/list.html.twig' with {'items': items} %}
	</div>
{% endblock %}
