{% extends '@DevtureNagios/nagios_layout.html.twig' %}

{% block title %}Contacts / {{ parent() }}{% endblock %}

{% block devture_nagios_content %}
	{% if is_granted('ROLE_CONFIGURATION_MANAGEMENT') %}
		<div class="d-flex justify-content-end mb-3">
			<a class="btn btn-primary" href="{{ path('devture_nagios.contact.add') }}">
				<i class="fa-solid fa-plus"></i>
				Add new
			</a>
		</div>
	{% endif %}

	<div ng-app-lazy="nagadminApp">
		{% include '@DevtureNagios/contact/list.html.twig' with {'items': items} %}
	</div>
{% endblock %}
