{% extends '@DevtureNagios/nagios_layout.html.twig' %}

{% block title %}Time Periods / {{ parent() }}{% endblock %}

{% block devture_nagios_content %}
	<div class="d-flex justify-content-end mb-3">
		<a class="btn btn-primary" href="{{ path('devture_nagios.time_period.add') }}">
			<i class="fa-solid fa-plus"></i>
			Add new
		</a>
	</div>

	{% include '@DevtureNagios/time_period/list.html.twig' with {'items': items} %}
{% endblock %}
