<div class="text-center alert alert-{{ error is none ? 'success' : 'danger' }}">
{% if error is none %}
	<i class="fa-solid fa-check"></i>
	Configuration deployed.
{% else %}
	<i class="fa-solid fa-xmark"></i>
	Configuration deployment failed.
{% endif %}
</div>

{% if error is not none %}
	<pre>{{ error }}</pre>
{% endif %}
