<div class="text-center alert alert-{{ error is none ? 'success' : 'error' }}">
{% if error is none %}
	<i class="glyphicon glyphicon-ok"></i>
	Configuration deployed.
{% else %}
	<i class="glyphicon glyphicon-remove"></i>
	Configuration deployment failed.
{% endif %}
</div>

{% if error is not none %}
	<pre>{{ error }}</pre>
{% endif %}
