<div class="dropdown" style="display: inline-block;">
	<a class="btn btn-secondary btn-sm dropdown-toggle" ng-class="{disabled: isRechecking()}" data-bs-toggle="dropdown" href="#">
		<i class="fa-solid fa-arrows-rotate" ng-class="{'spin-animate': isRechecking()}"></i>
		<span class="d-none d-sm-inline">Recheck</span>
	</a>

	<ul class="dropdown-menu" role="menu" style="min-width: 0; right: 0; left: auto;">
		<li>
			<a class="dropdown-item" href="javascript://" ng-click="recheck('failing')">
				Recheck failing
			</a>
		</li>
		<li>
			<a class="dropdown-item" href="javascript://" ng-click="recheck('all')">
				Recheck all
			</a>
		</li>
	</ul>
</div>