{% if items|length == 0 %}
	No items found.
{% else %}
	<table class="table table-bordered table-striped">
		<thead>
			<tr>
				<th>Title</th>
				<th>Time Period</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in items %}
			{% set link = path('devture_nagios.time_period.edit', {'id': entity.id}) %}
			<tr>
				<td>
					<a href="{{ link }}" class="display-block">
						{{ entity.title }}
					</a>
				</td>
				<td>
					{% include app['devture_nagios.views']['time_period.rules_table'] with {'rules': entity.rules} %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}