{% if items|length == 0 %}
	No items found.
{% else %}
	<table class="table table-bordered table-striped table-condensed">
		<thead>
			<tr>
				<th>Title</th>
				<th class="hidden-xs">Time Period</th>
			</tr>
		</thead>
		<tbody>
		{% for entity in items %}
			{% set link = path('devture_nagios.time_period.edit', {'id': entity.id}) %}
			<tr>
				<td>
					<a href="{{ link }}" class="btn-block">
						{{ entity.title }}
					</a>
				</td>
				<td class="hidden-xs">
					{% include 'DevtureNagiosBundle/time_period/rules_table.html.twig' with {'rules': entity.rules} %}
				</td>
			</tr>
		{% endfor %}
		</tbody>
	</table>
{% endif %}
