<div class="dropdown" style="display: inline-block;">
	<a class="btn btn-primary btn-sm dropdown-toggle" data-bs-toggle="dropdown" href="#" ng-click="expand()">
		<i class="fa-solid fa-plus"></i>
		<span class="d-none d-sm-inline">Add service</span>
	</a>

	<ul class="dropdown-menu" role="menu" style="min-width: 0; right: 0; left: auto;">
		<li ng-if="commands.length == 0">
			<a class="dropdown-item" href="javascript://">
				Loading..
			</a>
		</li>
		<li ng-repeat="command in commands | orderBy:'title'">
			<a class="dropdown-item" href="{{ command | url_service_add:host }}">
				{{ command.title }}
			</a>
		</li>
	</ul>
</div>