<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link {{ currentSection == 'status' ? 'active' : '' }}" href="{{ path('devture_nagios.host.view', {'id': entity.id}) }}">Host Status</a>
	</li>
	<li class="nav-item">
		<a class="nav-link {{ currentSection == 'edit' ? 'active' : '' }}" href="{{ path('devture_nagios.host.edit', {'id': entity.id}) }}">Edit Host Details</a>
	</li>
</ul>

<div class="top-spaced-minor"></div>
