<div class="clearfix">
	<a href="{{ hostEditUrl }}">
		<h4 style="margin: 0; padding: 0; display: inline-block;">
			<img ng-src="//www.google.com/s2/favicons?domain={{ entity.host.address }}" alt="" />
			{{ entity.host.name }}
		</h4>
	</a>
	<div class="pull-right">
		<service-add-new-button host="entity.host"></service-add-new-button>
		<host-recheck-button host="entity.host" rechecking="isBeingRechecked" on-dirty="updateHostInfo"></host-recheck-button>
	</div>
</div>

<div class="top-spaced-minor"></div>

<div ng-switch="entity.servicesInfo.length">
	<div ng-switch-when="0">No services</div>
	<div ng-switch-default>
		<service-list-table host="entity.host" services-info="entity.servicesInfo"></service-list-table>
	</div>
</div>
