<div class="clearfix">
	<div class="pull-right">
		<service-add-new-button host="entity.host"></service-add-new-button>
		<host-recheck-button host="entity.host" rechecking="isBeingRechecked" on-dirty="updateHostInfo"></host-recheck-button>
	</div>
	<a href="{{ hostEditUrl }}">
		<h3 style="margin: 0; padding: 0; display: inline-block;">{{ entity.host.name }}</h3>
	</a>
</div>

<div ng-switch="entity.servicesInfo.length">
	<div ng-switch-when="0">No services</div>
	<div ng-switch-default>
		<service-list-table host="entity.host" services-info="entity.servicesInfo" />
	</div>
</div>
