{% extends 'DevtureNagiosBundle/layout.html.twig' %}

{% block devture_nagios_content %}
	<div ng-controller="HostsInfoCtrl" ng-app-lazy="nagadminApp">
		<div class="row">
			<div class="col-lg-3 col-xs-6">
				<hosts-info-summary hosts-info="hostsInfo"></hosts-info-summary>

				<div class="hidden-xs pull-right" ng-if="hostsInfo.length == 0">
					<div class="spinner text-center">
						<div class="bounce1"></div>
						<div class="bounce2"></div>
						<div class="bounce3"></div>
					</div>
				</div>
			</div>

			<div class="col-lg-9 col-xs-6">
				<div class="row col-lg-5 col-lg-offset-7 text-right">
					<select ng-model="selectedHostId" class="form-control">
						<option value="">-- All hosts --</option>
						<option ng-repeat="hostInfo in hostsInfo" value="{{ '{{ hostInfo.id }}' }}">{{ '{{ hostInfo.host.name }}' }}</option>
					</select>
				</div>
			</div>
		</div>

		<div class="visible-xs" ng-if="hostsInfo.length == 0">
			<div class="spinner text-center">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>

		<hr />

		<host-info ng-repeat="hostInfo in filteredHostsInfo" entity="hostInfo"></host-info>
	</div>
{% endblock %}
