{% extends 'DevtureNagiosBundle/layout.html.twig' %}

{% block devture_nagios_content %}
	<div ng-controller="HostsInfoCtrl" ng-app-lazy="nagadminApp">
		<select class="js-chosen-select" name="hostId" ng-model="selectedHostId">
			<option value="">-- All hosts --</option>
			{% for host in hosts %}
			<option value="{{ host.id }}">{{ host.name }}</option>
			{% endfor %}
		</select>

		<div class="top-spaced-minor"></div>

		<div ng-if="filteredHostsInfo.length == 0">Loading..</div>

		<host-info ng-repeat="hostInfo in filteredHostsInfo" entity="hostInfo" />
	</div>
{% endblock %}
