{% extends 'DevtureNagiosBundle/layout.html.twig' %}

{% block devture_nagios_content %}
	<div ng-controller="HostsInfoCtrl" ng-app-lazy="nagadminApp">
		<div class="top-spaced-minor"></div>

		<div ng-if="filteredHostsInfo.length == 0">Loading..</div>

		<!--
			Using ng-show, instead of ng-if here, because otherwise the `selectedHostId` variable
			won't be available in the controller for watching at all.
		-->
		<div ng-show="hostsInfo.length != 0">
			<select chosen-select chosen-data-source="hostsInfo" ng-model="selectedHostId" style="display: none;">
				<option value="">-- All hosts --</option>
				<option ng-repeat="hostInfo in hostsInfo" value="{{ '{{ hostInfo.id }}' }}">{{ '{{ hostInfo.host.name }}' }}</option>
			</select>
		</div>

		<host-info ng-repeat="hostInfo in filteredHostsInfo" entity="hostInfo"></host-info>
	</div>
{% endblock %}
