body {
	overflow-y: scroll;
}

/* Make .warning work even on tables with .table-striped */
.table > tbody > .warning > td { background-color: #fcf8e3 !important ; }

.hidden-inline-xs {
	display: inline !important;
}
@media (max-width: 767px) {
	.hidden-inline-xs {
		display: none !important;
	}
}

[ng-cloak] { display: none; }

#wrapper {
	text-align: center;
	margin: 0 auto;
}

ul.validation-errors {
	color: #e33904;
	font-weight: bold;
	margin: 5px 0 0 0;
	padding: 0;
	list-style: none;
}
ul.validation-errors li {
}

#content {
	text-align: left;
	padding-top: 10px;
	background-color: #fff;
}

#footer {
	height: 18px;
	border: 0;
	color: #666464;
	font-size: 12px;
}

.top-spaced-minor { margin-top: 7px; }
.display-block { display: block; }

.label-nagadmin { font-size: 13px; padding: 2px 4px 2px; margin: 0 3px 3px 0; }
.label-nagadmin-status { padding: 5px 8px; font-size: 13px; }
.label-nagadmin-important-unobstrusive { background-color: white !important; border: 1px solid #953b39; text-shadow: 0; color: #953b39 !important; }
.label-nagadmin-success-unobstrusive { background-color: white !important; border: 1px solid #468847; text-shadow: 0; color: #468847 !important; }

/* Fix the "x" button on Chosen multiple-selects (12px -> 16px) */
.chzn-container-multi .chzn-choices .search-choice .search-choice-close { width: 16px !important; }

.chzn-container-single .chzn-single div b {
	background-position: 0 -1px !important;
}

.chzn-container-single .chzn-single.chzn-single-with-drop div b {
	background-position: -18px -1px !important;
}
.chzn-container-multi .chzn-choices .search-field input { height: auto !important; }

.spin-animate {
	-webkit-animation-name: spin-animate;
	-webkit-animation-duration: 2500ms;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-timing-function: linear;
	animation-name: spin-animate;
	animation-duration: 2500ms;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
}

@-moz-keyframes spin-animate {
	from { -moz-transform: rotate(0deg); }
	to { -moz-transform: rotate(360deg); }
}
@-webkit-keyframes spin-animate {
	from { -webkit-transform: rotate(0deg); }
	to { -webkit-transform: rotate(360deg); }
}
@keyframes spin-animate {
	from {transform:rotate(0deg);}
	to {transform:rotate(360deg);}
}