{% extends 'DevtureNagiosBundle/layout.html.twig' %}

{% block devture_nagios_content %}
	<div class="clearfix">
		<a class="btn btn-default pull-right" href="{{ path('devture_nagios.contact.add') }}">
			<i class="glyphicon glyphicon-plus"></i>
			Add new
		</a>
	</div>

	<div class="top-spaced-minor"></div>

	<div ng-app-lazy="nagadminApp">
		{% include 'DevtureNagiosBundle/contact/list.html.twig' with {'items': items} %}
	</div>
{% endblock %}
