<table class="table table-bordered table-striped table-condensed">
<thead>
	<tr>
		<th style="width: 50px;"></th>
		<th>Service</th>
		<th>Checked</th>
		<th class="hidden-xs">Status</th>
		<th class="hidden-xs" style="min-width: 140px;">Notify</th>
	</tr>
</thead>
<tbody>
	<tr ng-repeat="serviceInfo in servicesInfo track by serviceInfo.id" ng-init="service = serviceInfo.service">
		<td>
			<service-status-badge entity="serviceInfo.status"></service-status-badge>
		</td>
		<td style="width: 210px;">
			<a href-to="service" href-via="'url_service_view'" class="btn-block">
				{{ service.name }}

				<strong ng-hide="service.enabled">(disabled)</strong>
			</a>
		</td>
		<td nowrap="nowrap">
			<span class="help-inline">
				<span ng-show="serviceInfo.status == null">-</span>

				<span ng-show="serviceInfo.status != null">
					<span ng-show="serviceInfo.status.last_check == 0">Never</span>

					<span ng-show="serviceInfo.status.last_check != 0">
						<relative-time timestamp="serviceInfo.status.last_check * 1000"></relative-time> ago
					</span>
				</span>
			</span>
		</td>
		<td class="hidden-xs">
			{{ serviceInfo.status.plugin_output }}
			<div ng-show="serviceInfo.status == null">
				-- There is no information about this service --
			</div>
		</td>
		<td class="hidden-xs">
			<span ng-repeat="contact in service.contacts">
				<contact entity="contact" size="24"></contact>
			</span>
		</td>
	</tr>
</tbody>
</table>
