{% extends 'DevtureNagiosBundle/layout.html.twig' %}

{% block devture_nagios_content %}
	<div ng-controller="LogsCtrl" ng-app-lazy="nagadminApp">
		<div ng-if="logs == null">
			<div class="spinner text-center">
				<div class="bounce1"></div>
				<div class="bounce2"></div>
				<div class="bounce3"></div>
			</div>
		</div>

		<log-list-table entities="logs"></log-list-table>
	</div>
{% endblock %}
