<VirtualHost *:80>
	ServerName nagadmin.COMPANY.com

	DocumentRoot /srv/http/nagadmin.COMPANY.com/web

	ErrorLog logs/nagadmin.COMPANY.com-error_log
	CustomLog logs/nagadmin.COMPANY.com-access_log combined

	<Directory /srv/http/nagadmin.COMPANY.com/web>
		Options -MultiViews

		RewriteEngine on
		RewriteCond %{REQUEST_FILENAME} !-f
		RewriteRule ^ index.php [L]
	</Directory>
	<Location ~ "^/(angular|js|css)/">
		Header set Cache-Control "max-age=2592000, public"
		SetOutputFilter DEFLATE
	</Location>
</VirtualHost>
