[Unit]
Description=Devture Nagadmin
Requires=docker.service
After=docker.service
DefaultDependencies=no

[Service]
Type=simple
WorkingDirectory=/srv/http/nagadmin
ExecStartPre=-/usr/local/bin/just stop

ExecStart=/usr/local/bin/just run

ExecStop=-/usr/local/bin/just stop

Restart=always
RestartSec=30

[Install]
WantedBy=multi-user.target
