<div class="dropdown" style="display: inline-block;">
	<a class="btn btn-default btn-sm dropdown-toggle" ng-class="{disabled: isRechecking()}" data-toggle="dropdown" href="#">
		<i class="glyphicon glyphicon-refresh" ng-class="{'spin-animate': isRechecking()}"></i>
		<span class="hidden-inline-xs">Recheck</span>
		<span class="caret"></span>
	</a>

	<ul class="dropdown-menu" role="menu" style="min-width: 0; right: 0; left: auto;">
		<li>
			<a href="javascript://" ng-click="recheck('failing')">
				Recheck failing
			</a>
		</li>
		<li>
			<a href="javascript://" ng-click="recheck('all')">
				Recheck all
			</a>
		</li>
	</ul>
</div>