{% extends layout %}

{% block title %}Users / {{ parent() }}{% endblock %}

{% block content %}
	<div class="d-flex justify-content-end mb-3">
		<a class="btn btn-primary" href="{{ path('devture_user.add') }}">
			<i class="fa-solid fa-plus"></i>
			Add new
		</a>
	</div>

	{% include "@DevtureUser/list.html.twig" with {'items': items} %}
{% endblock %}
