{% extends layout %}

{% block content %}
	<style type="text/css">
		.form-signin { max-width: 330px; padding: 15px; margin: 0 auto; }
		.form-signin .form-control { position: relative; font-size: 16px; height: auto; padding: 10px; box-sizing: border-box; }
		.form-signin .form-control:focus { z-index: 2; }
		.form-signin input[type="text"] { margin-bottom: -1px; border-bottom-left-radius: 0; border-bottom-right-radius: 0; }
		.form-signin input[type="password"] { margin-bottom: 10px; border-top-left-radius: 0; border-top-right-radius: 0; }
	</style>

	<form method="post" action="{{ path('devture_user.login') }}" class="form-signin" role="form">
		{% if error %}
			<div class="text-danger">{{ error.messageKey }}</div>
			<br />
		{% endif %}

		<fieldset>
			<input type="text" class="form-control" placeholder="Username" name="_username" value="{{ last_username }}" autocomplete="username" required autofocus>
			<input type="password" class="form-control" placeholder="Password" name="_password" autocomplete="current-password" required>

			<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">

			<div class="form-check">
				<input class="form-check-input" type="checkbox" name="_remember_me" id="_remember_me">
				<label class="form-check-label" for="_remember_me">Remember me</label>
			</div>

			<button type="submit" class="btn btn-lg btn-primary w-100">Log in</button>
		</fieldset>
	</form>
{% endblock %}
